@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Slabo+27px&display=swap');


body{
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.hero-content{
  position: relative;
  bottom: 20rem;
  left: 10rem;
}
.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}

#btn{
  background: #020024;
  color: antiquewhite;
  transition: all 0.87s ease-in-out;
}

#btn:hover{
  background-color: blue;
}